[submodule "pico/vendor/pico-sdk"]
	path = pico/vendor/pico-sdk
	url = https://github.com/jonathangjertsen/pico-sdk.git
[submodule "pico/vendor/pico-mcp23017"]
	path = pico/vendor/pico-mcp23017
	url = https://github.com/adamboardman/pico-mcp23017.git
[submodule "pico/vendor/pico-interfaces"]
	path = pico/vendor/pico-interfaces
	url = https://github.com/adamboardman/pico-interfaces.git
